<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a href="#"><img src="https://i.pinimg.com/236x/d9/e9/b6/d9e9b6647a0f0bee3af2c1ae127f656a--monster-black.jpg" width="55px" height="50px" alt="icone-usuario" class="img-fluid rounded-circle"></a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <p class="text-white m-0 ms-3 font-weight-bold f-16">CapiiSz</p>
          </li>
          <li class="nav-item">
            <p class="m-0 ms-2 gray-text f-10">Shinigami honorario</p>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
            <li class="nav-item pl-3">
                <a class="text-dec-none" href=""><p class="text-white m-0 font-weight-bold ">Deslogar</p></a>
            </li>
        </ul>
      </div>
    </div>
  </nav>