#img-cad {
    background-image: url("../../assets/20th-century-boys-cast.jpg");

    min-height: 690px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}