.banner-entrada{
    background-color: rgb(211, 211, 211);
}

.fs-54{
    font-size: 54px;
}

.fs-30{
    font-size: 24px;
}


.all{
    background-color: rgb(77, 75, 75);
}

.nav-item{
    margin-right: 5px;
}